<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>login</title>
<style type="text/css">
	

</style>
</head>
<body>
  <div style="border: solid 1px red;width: 300px;height: 300px;margin:200px auto;" align="center">
	<form action="/loginCheck" method="post" id="loginForm" name="loginForm">
		<table style="width: 250px;height: 250px;margin: 25px;">
			<tbody >
				<tr>
					<td>员工编号：</td>
					<td><input type="text" id="empId" name="empId"/></td>
				</tr>
				<tr>
					<td >密码：</td>
					<td>
					<input type="text" id="passWord" name="passWord"></input>
					</td>
				</tr>
				<tr >
					<td  colspan="2">
						<input type="submit" value="登录" style="margin-left: 25px;width: 200px"></input>
					</td>
					
				</tr>
			</tbody>
		</table>	
	</form>
  </div>	
</body>
</html>